---
title: "Casa Campiglia #10"
layout: default
language: de
description: "Ferienhaus: Toskana-maisonette mit grossen Terrassen und Garten in mittelalterlicher Stadt"
date: 2018-01-06 20:30:00 -0000
---

<h3>Anfragen ueber <a href="https://www.fewo-direkt.de/ferienwohnung-ferienhaus/p2391784?uni_id=2522819">Fewo</a>
    <!--oder direkt an <strong><a href="mailto:info@casacampiglia.eu">info@casacampiglia.eu </a></strong>! 
<br>-->
    <a href="https://www.fewo-direkt.de/ferienwohnung-ferienhaus/p2391784?uni_id=2522819#calendar" >Check Verfuerbarkeit</a></h3>
<center>
<iframe src="https://www.fewo-direkt.de/ferienwohnung-ferienhaus/p2391784?uni_id=2522819" width="800" height="2000"></iframe>
</center>



<!--
{% for post in paginator.posts %}
<div class="article">
    <div class="well">
        <h1><a href="{{ site.baseurl}}{{ post.url }}">{{ post.date | date: "%b %-d, %Y" }} - {{ post.title }}</a></h1>
        {% if site.comments and post.comments %}
            {% if site.disqus != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}/#disqus_thread" data-disqus-identifier="{{ post.url | slugify }}">Comments</a></p>
            {% elsif site.isso != '' %}
            <p class="author"><a href="{{ site.baseurl }}{{ post.url }}{{ site.isso_suffix }}#isso-thread">Comments</a></p>
            {% endif %}
        {% endif %}
        <div class="content">
            {{ post.content }}
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination">
  {% if paginator.previous_page %}
      {% if paginator.previous_page == 1 %}
        <a class="btn btn-default" href="{{ site.baseurl}}/index.html" class="previous">Newer</a>
      {% else %}
        <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.previous_page }}" class="previous">Newer</a>
      {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a class="btn btn-default" href="{{ site.baseurl}}/page{{ paginator.next_page }}" class="next">Older</a>
  {% endif %}
</div>
-->
